.input_style {
    background-color: #1c3870;
    width: 290px;

    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    color: #98c9ff;

    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    border: 1px solid #1c3870;
    border-radius: 8px;

    @media (max-width: 1199px) {
        width: 100%;
    }

    &::placeholder {
        color: #98c9ff;
    }

    &:focus-within {
        outline: none !important;
    }

    .form-control {
        background-color: #1c3870 !important;
        border: none !important;
        width: auto !important;
    }

    .flag-dropdown {
        background-color: #1c3870 !important;
        border: none !important;
    }

    .react-tel-input {
        input {
            color: #98c9ff !important;
        }

        .flag-dropdown .selected-flag:hover {
            background-color: "#1c3870 !important";
        }
    }
}

.mainFooter {
    display: flex;
    gap: 48px;

    @media (min-width: 1080px) {
        display: contents;
    }

    @media (max-width: 1090px) {
        gap: 40px;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
        display: flex;

        .FooterLinks {
            display: none !important;
        }
    }

    @media (max-width: 578px) {
        .mainFooterForm {
            width: 100%;
        }
    }

    // margin-top: 20px;
}

.widthBtn {
    width: 290px;
    height: 45px;

    @media (max-width: 1199px) {
        width: 100%;
    }

}

.footerRights {
    display: flex;
    justify-content: space-between;

    @media (max-width: 575px) {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        div {
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;
        }

        p {
            text-align: center;
        }
    }
}

.sunset {
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px solid #3366cc;
    padding-bottom: 10px;

    @media (max-width: 1090px) {
        justify-content: center;
        text-align: center;
    }
}