:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #ffffff;
        --foreground: #ededed;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: sans-serif, "Arial", "Foco";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

.imgWidth {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.globalCotainer {
    max-width: 1360px;
    margin: 0 auto;
}

.imgFitBG {
    object-fit: cover;
    z-index: -1;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerX {
    display: flex;
    justify-content: center;
}

.centerY {
    display: flex;
    align-items: center;
}

.radius-16 {
    border-radius: 16px;
}

.sliderContaier .slick-track {
    display: flex !important;
    gap: 18px !important;
}
.sliderContaier .slick-slide:first-child {
    margin-left: -16px !important;
}
