.main {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    background-image: url("../../assets/header/HeroDesk.webp");
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1728px;
    // background-position: right;
    padding-top: 120px !important;
    // @media (max-width: 1360) {
    //     max-width: 100%;
    // }
    @media (min-width: 1700px) {
        background-image: url("../../assets/header/heropro.webp") !important;
    }

    @media (max-width: 600px) {
        background-image: url("../../../public/icons/Hero.webp") !important;
        padding-left: 24px !important;
        padding-top: 125px !important;
        padding-right: 24px !important;
    }
}
.typo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 542px;
}
