.main {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    align-items: center;
    padding: 0 48px;
    .img {
        width: 354px !important;
        height: 249px !important;
        @media (max-width: 575px) {
            width: 336px !important;
            height: 237px !important;
        }
    }
    @media (max-width: 899px) {
        flex-direction: column;
        padding: 0;
        // justify-content: center;
        // text-align: center;
    }
    @media (max-width: 600px) {
        padding: 0;
        gap: 24px;
    }
}
.typo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media (max-width: 899px) {
        justify-content: center;
        text-align: center;
    }
}
