.main{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;

    .img{
        width:100% !important;
        height:100% !important;
    }
    @media (max-width: 899px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

}
.typo{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tickMark{
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
  }

